table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
    background-color: #4CAF50;
    color: white;
}
.btn-action {
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn-call {
    /* background-color: #4CAF50; linear gradient */
    background-image: linear-gradient(to bottom, #4CAF50, #347c2d);
}

.btn-delete {
    /* background-color: #f44336; */
    background-image: linear-gradient(to bottom, #f44336, #ef1212);
}

.btn-action:hover {
    opacity: 1;
}